.dua{
    background-color: rgb(64, 54, 54);
    color: white;
}

.navFixd{
    position: fixed;
    top: 0;
    height: 100px;
    z-index: 6;
    width: 100%;
    background-color: lightgray;
    box-shadow: 5px 5px 5px rgb(229, 228, 228);
}

.myNavLink{
    color: white;
}